{% extends 'base.html' %}

{% block head %}
    <title>天天生鲜-商品列表</title>
    <script>

        $(function () {
{#            标题栏选中效果#}
            $title_tip = $('.sort_bar a');
            ttip ={{ gsort.num }};
            $title_tip.eq(ttip).addClass('active').siblings().removeClass('active');
{#            页码选中效果#}
            $page_tip = $('.pagenation a');
            ptip ={{ pIndex.page }};
            $page_tip.eq(ptip).addClass('active').siblings().removeClass('active');

        });

        function add_cart(gid) {
            $.get('/user/islogin', function (data) {
                if (data.islogin == 1) {
                    $.get('/cart/add/', {'gid': gid, 'count': 1}, function (data) {
                        if (data.isok == 1) {
                            alert('加入购物车成功')
                            $.get('/cart/count/', function (data) {
                                alert('........show_count')
                                $('#show_count').html(data.count)
                            })
                        }
                        else {
                            location.href = '/user/login/'
                        }
                    })
                } else {
                    alert('请您先登陆')
                    window.location.href = '/user/login/'

                }
            })
        }


    </script>
{% endblock head %}


{% block body %}
    <div class="header_con">
        <div class="header">
            <div class="welcome fl">欢迎来到天天生鲜!</div>
            <div class="fr">
                <div class="login_info fl">
                    欢迎您：<em>张 山</em>
                </div>
                <div class="login_btn fl">
                    <a href="/user/login">登录</a>
                    <span>|</span>
                    <a href="/user/register">注册</a>
                </div>
                <div class="user_link fl">
                    <span>|</span>
                    <a href="/user/user_center_info">用户中心</a>
                    <span>|</span>
                    <a href="/cart/sp">我的购物车</a>
                    <span>|</span>
                    <a href="/user/user_center_order">我的订单</a>
                </div>
            </div>
        </div>
    </div>

    <div class="search_bar clearfix">
        <a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
        <div class="search_con fl">
            <input type="text" class="input_text fl" name="" placeholder="搜索商品">
            <input type="button" class="input_btn fr" name="" value="搜索">
        </div>
        <div class="guest_cart fr">
            <a href="/cart/sp" class="cart_name fl">我的购物车</a>
            <div class="goods_count fl" id="show_count">0</div>
        </div>
    </div>

    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
                <span></span>
                <ul class="subnav">
                    <li><a href="/list/1/1" class="fruit">新鲜水果</a></li>
                    <li><a href="/list/1/2" class="seafood">海鲜水产</a></li>
                    <li><a href="/list/1/3" class="meet">猪牛羊肉</a></li>
                    <li><a href="/list/1/4" class="egg">禽类蛋品</a></li>
                    <li><a href="/list/1/5" class="vegetables">新鲜蔬菜</a></li>
                    <li><a href="/list/1/6" class="ice">速冻食品</a></li>
                </ul>
            </div>
            <ul class="navlist fl">
                <li><a href="/">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="breadcrumb">
        <a href="/list/1/100/0">全部分类</a>
        <span>></span>
        <a href="#">{{ gtype.0.ttitle }}</a>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>

                    {% for GoodsData in n_glist %}
                        <li>
                            <a href="/detail/{{ GoodsData.id }}"><img src="/static/media/{{ GoodsData.gpic }}"></a>
                            <h4><a href="/detail/{{ GoodsData.id }}">{{ GoodsData.gtitle }}</a></h4>
                            <div class="prize">{{ GoodsData.gprice }}</div>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <div class="sort_bar">
{#                list/页码/类型/排序方式/#}
                <a href="/list/1/{{ gtype.0.id }}/0" class="active">默认</a>
                <a href="/list/1/{{ gtype.0.id }}/1">价格</a>
                <a href="/list/1/{{ gtype.0.id }}/2">人气</a>
            </div>

            <ul class="goods_type_list clearfix">
                {% for GoodsData in glist %}
                    <li>
                        <a href="/detail/{{ GoodsData.id }}"><img src="/static/media/{{ GoodsData.gpic }}"></a>
                        <h4><a href="/detail/{{ GoodsData.id }}">{{ GoodsData.gtitle }}</a></h4>
                        <div class="operate">
                            <span class="prize">{{ GoodsData.gprice }}</span>
                            <span class="unit">16.80/{{ GoodsData.gunit }}</span>
                            <a href="javascript:add_cart({{ GoodsData.id }})" class="add_goods" title="加入购物车"></a>
                        </div>
                    </li>
                {% endfor %}


            </ul>


            <div class="pagenation">
                <a href="/list/{{ pIndex.prepage }}/{{ gtype.0.id }}/{{ gsort.num }}" id="prepage">上一页</a>

                {%for pindex in plist%}
                    {%if pIndex.page == pindex%}
                    {{pindex}}&nbsp;&nbsp;
                    {%else%}
                    <a href="/list/{{pindex}}/{{ gtype.0.id }}/{{ gsort.num }}">{{pindex}}</a>&nbsp;&nbsp;
                    {%endif%}
                {%endfor%}


                <a href="/list/{{ pIndex.nextpage }}/{{ gtype.0.id }}/{{ gsort.num }}">下一页></a>
            </div>
        </div>
    </div>

{% endblock body %}
